name: Track Traffic
on:
  schedule:
    - cron: "0 12 * * *" # Runs at 06:00, every day
  workflow_dispatch:      # Or can manually run
permissions:
  contents: write
  actions: read
jobs:
  capture-traffic: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Get yesterday's clone traffic
        id: clones
        env:
          GH_TOKEN: ${{ secrets.TRAFFIC_SECRET }}
        run: |
          METRICS_DIR=".github/metrics"
          mkdir -p $METRICS_DIR
          
          # yesterday's clones have date = `yesterday`
          YESTERDAY=$(date -I -d "yesterday")
          echo $YESTERDAY

          collect_repo () {
              local FULL_REPO="$1"
              local REPO_NAME="${FULL_REPO##*/}"
              local OUTPUT="$METRICS_DIR/${REPO_NAME}.csv"
              if [ ! -f $OUTPUT ]; then
                echo "date,daily_clones,daily_unique_cloners" > $OUTPUT
              fi

              # get all traffic from yesterday
              DAILY_JSON=$(gh api repos/${FULL_REPO}/traffic/clones \
                --jq ".clones[] | select(.timestamp | startswith(\"$YESTERDAY\"))")
              echo $DAILY_JSON

              # get total clone count and unique clone count
              DAILY_COUNT=$(echo "$DAILY_JSON" | jq -r '.count // 0')
              echo $DAILY_COUNT
              DAILY_UNIQUES=$(echo "$DAILY_JSON" | jq -r '.uniques // 0')
              echo $DAILY_UNIQUES

              # Output variables date, count, and uniques to next step
              echo $YESTERDAY, $DAILY_COUNT, $DAILY_UNIQUES >> "$OUTPUT"
          }

          # Gather Traffic About MPI Advance Repo
          echo "Collecting $GITHUB_REPOSITORY Traffic"
          collect_repo "$GITHUB_REPOSITORY"

      - name: Commit and push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

          git add .github/metrics/*.csv
          git commit -m "Daily clone stats (${{ steps.clones.outputs.date }})" || echo "No changes"
          git push origin HEAD:main
